* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-color: gray;
}

.container{
    border: 1px solid black;
    border-radius: 0.938em;
    background-color: white;
    width: 30em;
    margin: 10% auto;
    text-align: center;
    height: 35em;
}

h2,#text{
    text-align: left;
    margin-left: 1em;
}
h2{
    font-size: xx-large;
    text-align: center;
    margin-bottom: 1em;
    
}

.part{
    text-align: left;
    margin-left: 1em;
    font-size: x-large;
}
.part input{
    width: 80%;
    
}