* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgba(53, 53, 53, 0.82);
}

.sidebar {
    position: relative;
    width: 20%;
    padding: 1.25em;
    border: 0.083em solid black;
    border: 0.5px thin rgb(0, 0, 0);
    border-radius: 10px;
    background-color: white;
}

.sidebar {
    top: 10.938em;
    left: 11.875em;
}

.profile-picture {
    text-align: center;
}

.profile-picture img {
    width: 100%;
    height: auto;
}

.profile-picture p {
    margin-top: 0.625em;
    font-size: 1.125em;
}

.sidebar2 {
    position: relative;
    width: 20%;
    padding: 1.25em;
    border: 1px solid black;
    border: 0.5px thin rgb(0, 0, 0);
    border-radius: 10px;
    background-color: white;
    margin-top: -16.667em;
}

.sidebar2 p {
    font-size: 1.5em;
}

.sidebar2 a:hover {
    text-decoration: underline aquamarine;
}

.sidebar2 a {
    text-decoration: none;
    color: black;
    transition: all 0.3s ease;
}

.sidebar2 {
    top: 8.271em;
    left: 11.875em;
}

.sidebar3 {
    position: relative;
    width: 60em;
    height: 25em;
    padding: 1.25em;
    border: 1px solid black;
    border: 0.5px thin rgb(0, 0, 0);
    border-radius: 10px;
    background-color: white;
    margin-left: 1.667em;
}

.sidebar3 {
    left: 30%;
    bottom: 15.458em;
}

hr {
    width: 100%;
    margin: 0 auto;
}

.user-info {
    width: 100%;
    max-width: 25em;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

.info-row {
    display: flex;
    justify-content: space-between;
    padding: 0.625em 0;
}

.label {
    flex: 1;
    text-align: right;
    padding-right: 1.25em;
    color: #333;
}

.value {
    flex: 2;
    text-align: left;
    color: #555;
}

.info-row:last-child {
    border-bottom: none;
}

#profile {
    text-align: left;
}


#edit-profile-link {
    position: absolute;
    top: 1.25em;  
    right: 1.25em; 
    text-decoration: none;
    color: black;
    border-radius: 0.5em;
    border: 2px solid black;
    padding: 0.5em 1em; 
    display: inline-block; 
}

#edit-profile-link:hover {
    text-decoration: underline;
}


/*ส่วนอัพภาพ*/
.upload-image {
    width: 200px;
    height: auto; 
    cursor: pointer; 
    
    transition: opacity 0.3s; 
}

.upload-image:hover {
    filter: grayscale(50%);
    
}

/* Hide the default file input */
input[type="file"] {
    display: none; 
}

/* Responsive for screens 576px and below */
@media (max-width: 576px) {
    .sidebar,
    .sidebar2,
    .sidebar3 {
        width: 100%;         
        margin: 0 0 1.25em;  
        left: 0;           
        top: auto;          
        position: relative;  
        top: 7em; 
    }
    
    .sidebar3 {
        height: auto;       
        bottom: auto;        
    }

    .profile-picture img {
        width: 50%;         
        margin: 0 auto;   
    }
  
    
    .sidebar2 p {
        font-size: 1.25em;   /* Adjust font size for small screens */
    }

    .info-row {
        flex-direction: column; /* Stack labels and values vertically */
        text-align: left;       /* Align text to the left */
    }

    .label {
        padding-right: 0;      
    }

    #Edit {
        position: static;      
        margin-top: 1em;       
        text-align: right;     
    }
    .sidebar3 p {
        text-align: left;

    }
}
