* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    background-color: #f9f9f9;
    padding: 1.25em;
    text-align: center;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 10em;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    padding: 1.667em;
    max-width: auto;
    margin: 0 auto;
    
}

.contact-section, .links-section {
    width: 45%;
    text-align: left;
}

h2 {
    font-size: 3.25em;
    margin-bottom: 0.625em;
    font-weight: bolder;
}

ul {
    list-style: none;
}
.fott{
    list-style-type: disc;
    margin-left: 0.833em;  
}

ul li {
    font-size: 0.875em;
    margin-bottom: 0.625;
}

ul li i {
    margin-right: 0.625em;
}

.links-section ul li a {
    text-decoration: none;
    color: black;
    font-size: 0.875em;
}

.footer-bottom {
    margin-top: 1.25em;
    border-top: 1px solid #ccc;
    padding-top: 0.625em;
    font-size: 0.75em;
}

@media (max-width: 576px) {
    .footer-content {
        flex-direction: column;
        text-align: center;
    }

    .contact-section, .links-section {
        width: 100%;
    }

    h2 {
        font-size: 18px;
    }

    ul li {
        font-size: 12px;
    }

    .footer-bottom {
        font-size: 10px;
    }
}
