* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, #B1F2F6, #318181);
}

.container {
    width: 400px;
    padding: 20px;
    border-radius: 15px;
    background:linear-gradient(to bottom,#D5F9FE,#C4F8E5);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.back-arrow {
    position: absolute;
    top: 10px;
    left: 10px;
}

.back-arrow a {
    text-decoration: none;
    font-size: 24px;
    color: black;
}

.form-box {
    text-align: center;
    height: 40%;
}

h2 {
    font-size: 22px;
    margin-top: 0px;
    margin-bottom: 30px;
}

p {
    font-size: 16px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Email {
    margin-right: 70%;
    
}


input {
    
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;

}

button {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 180pt;
    font-size: 14pt
    
}

button:hover {
    background-color: #333;
}

.create-account {
    margin-top: 80%;
}

.create-account a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.create-account a:hover {
    text-decoration: underline;
}
/* .Logo{  สำหรับทำโลโก้
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 12%;
    
} */
@media (max-width: 576px) {
    body {
        padding: 20px;
    }

    .container {
        width: 100%;
        padding: 15px;
    }

    input {
        width: 100%;
        padding: 8px;
    }

    button {
        width: 100%;
        padding: 12px;
    }

    h2 {
        font-size: 20px;
    }

    p {
        font-size: 14px;
    }
}