@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');

:root{
    --header-height:3.5rem;
    --z-tooltip: 10;
    --z-fixed: 100;
    --font-semi-bold: 600;
    --font-regular: 400;
    --normal-font-size: .938rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto Slab", serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}

.container{
    max-width: 1120px;
    margin-inline: 1.5rem;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(30, 30, 30, .8);
    box-shadow: 0 2px 16px hsla(220, 32%, 8%, .3);
    z-index: var(--z-fixed);
}

/* Nav*/
.logo,
.burger,
.close {
    color: white;
}
.nav__data{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo{
    display: inline-flex;
    align-items: center;
    column-gap: .25rem;
    font-weight: var(--font-semi-bold);
    margin-left: 50px;
    padding-top: 15px;
    font-size: 1.5rem;
}

.nav__toggle{
    position: relative;
    width: 32px;
    height: 32px;

}

.burger,
.close {
    position: absolute;
    width: max-content;
    height: max-content;
    inset: 0;
    margin: auto;
    font-size: 1.25rem;
    cursor: pointer;
    transition: opacity .3s, transform .4s;
}
.burger{
    opacity: 1;
    transform: rotate(0deg);
}
.close{
    opacity: 0;
    transform: rotate(0deg);
}

/*NAV mobile*/
@media screen and (max-width: 1180px){
    .nav__menu{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: calc(100vh - 3.5rem);
        overflow: auto;
        pointer-events: none;
        opacity: 0;
        transition: top .4s, opacity .3s;
    }
    .nav__menu::-webkit-scrollbar{
        width: 0;
    }
    .nav__list{
        background-color: gray;
        padding-top: 1rem;
    }
}

.nav__link{
    color: white;
    font-weight: var(--font-semi-bold);
    padding: 1.2rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition:  background-color .3s;
}
.nav__link:hover{
    background-color: rgb(59, 59, 59);
    color: rgb(37, 226, 255);
}

.show-menu{
    opacity: 1;
    top: 3rem;
    pointer-events: initial;
}
.show-icon .burger{
    opacity: 0;
    transform: rotate(90deg);
}
.show-icon .close{
    opacity: 1;
    transform: rotate(0deg);
}
.dropdown__item{
    cursor: pointer;
}
.dropdown__arrow{
    font-size: 1.25rem;
    font-weight: initial;
    transition: transform .4s;
}
.dropdown__link,
.dropdown__sublink{
    padding: 1.25rem 1.25rem 1.25rem 2.5rem;
    color: white;
    background-color: rgb(30, 30, 30);
    display: flex;
    align-items: center;
    column-gap: .5rem;
    font-weight: var(--font-semi-bold);
    transition: background-color .3s;
}
.dropdown__sublink:hover > .dropdown__link{
    display: flex;
}
.dropdown__link:hover{
    background-color: rgb(59, 59, 59);
    color: rgb(37, 226, 255);
}
.dropdown__subitem .dropdown__sublink:hover{
    background-color: rgb(59, 59, 59);
    color: rgb(37, 226, 255);
}

.dropdown__menu,
.dropdown__submenu{
    max-height: 0;
    overflow: hidden;
    transition: max-height .4s ease-out;
}
.dropdown__item:hover .dropdown__menu,
.dropdown__subitem:hover > .dropdown__submenu{
    max-height: 1000px;
    transition: max-height .4s ease-in;
}
.dropdown__item:hover .dropdown__arrow{
    transform: rotate(180deg);
}
.dropdown__add{
    margin-left: auto;
}
.dropdown__sublink{
    background-color: rgb(47, 47, 47);
}

/*BREAKPOINTS*/
@media screen and (max-width: 340px) {
    .container{
        margin-inline: 1rem;
    }
    .nav__link{
        padding-inline: 1rem;
    }
}
@media screen and (min-width: 1180px) {
    .container{
        margin-inline: auto;
    }
    .nav{
        height: calc(--header-height) + 2rem;
        display: flex;
        justify-content: space-between;
    }
    .nav__toggle{
        display: none;
    }
    .nav__list{
        height: 100%;
        display: flex;
        columns: 3rem;
    }
    .nav__link{
        height: 100%;
        justify-content: initial;
        column-gap: .25rem;
    }
    .nav__link:hover{
        background-color: transparent;
    }
    .dropdown__item,
    .dropdown__subitem{
        position: relative;
    }
    .dropdown__menu,
    .dropdown__submenu{
        max-height: initial;
        overflow: initial;
        position: absolute;
        left: 0;
        top: 6rem;
        opacity: 0;
        pointer-events: none;
        transition: opacity .3s, top .3s;
    }
    .dropdown__link,
    .dropdown__sublink{
        padding-inline: 1rem 3.5rem;
    }
    .dropdown__subitem .dropdown__link{
        padding-inline: 1rem;
    }
    .dropdown__submenu{
        position: absolute;
        left: 100%;
        top: .5rem;
    }

    .dropdown__item:hover .dropdown__menu{
        opacity: 1;
        top: 3.6rem;
        pointer-events: initial;
        transition: top .3s;
    }
    .dropdown__subitem:hover > .dropdown__submenu{
        opacity: 1;
        top: 0;
        pointer-events: initial;
        transition: top .3s;
    }
   
}