@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Roboto Slab", serif;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

body {
    width: 100%;
    height: auto;
    overflow-x: hidden;
}

/*Home*/
.home {
    width: 100%;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(image/background.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home h1 {
    font-size: clamp(2rem, 1rem + 6vw, 5rem);
}

.home p {
    font-size: clamp(1.1rem, 0.5rem + 3vw, 2.2rem);
}



/*continent*/
.continent {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(#ffffff, black);
    box-shadow: 0 0 50px 50px rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.heading {
    text-align: center;
    color: rgb(0, 0, 0);
    line-height: 8rem;
    font-size: clamp(1.5rem, 0.7rem + 3vw, 2rem);
}

.sub-heading {
    width: 60%;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: clamp(0.8rem, 0.5rem + 2vw, 1.5rem);
}

.continent .place {
    margin-top: 20px;
    max-width: 1200px;
    width: 100%;
    height: auto;
    display: grid;
    gap: 1rem;
    padding: 0 10px;
    grid-template-columns: repeat(3, 1fr);
}

.place .card {
    border-radius: 10px;
    width: 100%;
    height: 80vh;
    overflow: hidden;
    position: relative;
}

.place .card img {
    width: 100%;
    height: 100%;
    transition: 0.4s ease-out;
}

.place .card .main-card {
    width: 100%;
    position: absolute;
    text-align: center;
    bottom: 0;
    padding: 15px 0;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    backdrop-filter: blur(5px);
    opacity: 0;
    transition: 0.2s linear;
}

.place .card:hover img {
    scale: 1.1;
}

.place .card:hover .main-card {
    transform: translateY(0px);
    opacity: 1;
}



/*gallery*/
.gallery {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgb(0, 0, 0), rgb(13, 16, 33));
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    flex-direction: column;

}

.gallery .heading {
    color: white;
}

.gallery_container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 2rem;
}

.image_gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Split into two columns */
    gap: 1rem;
    scale: 0.8;
}

.gallery_col {
    display: grid;
    place-content: center;
    gap: 1rem;
}

.gallery_col img {
    width: 440px;
    border-radius: 1rem;
    box-shadow: 5px 5px 15px rgba(0, 217, 255, 0.5);
}

/* Responsive Design */
@media (max-width: 768px) {
    .home {
        width: 100%;
    }

    .nav-container {
        flex-direction: column;
        align-items: center;
    }

    .links {
        flex-direction: column;
        gap: 1rem;
    }

    .gallery_container {
        grid-template-columns: 1fr;
    }

    .continent .sub-heading {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .nav-container {
        padding: 1rem;
    }

    .home h1 {
        font-size: 2.5rem;
    }

    .home p {
        font-size: 1.5rem;
    }

    .place {
        grid-template-columns: 1fr;

    }

    .place .card {
        width: 80%;
        height: 300px;
    }

    .gallery h1 {
        font-size: 24px;
    }

    .gallery_container {
        padding: 0 10px;
    }

    .image_gallery {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .gallery_col {
        width: 100%;
        margin-bottom: 15px;
    }

    .gallery_col img {
        width: 100%;
        height: auto;
    }
}